.black-background {
  background-color: black;
  color: white;
}

.white-background {
  background-color: white;
  color: black;
}

.box {
  border: solid 2px;
  background-color: lightyellow;
  color: blue;
}
