.intro {
  font-style: bold;
  background-color: green;
  color: purple;
}

.body {
  color:blue;
  float: right;
}

.special {
  font-style: italic;
}

.footer {
  background-color: grey;
  font-style: oblique;
}